<div class="form">
  <div class="input-group">
    <label for="exam-title-input" i18n>Titel</label>
    <input type="text" placeholder="Beispielthema" i18n-placeholder id="exam-title-input" [(ngModel)]="tempExamConfig.title">
  </div>
  <div class="input-group">
    <label for="exam-subtitle-input" i18n>Untertitel</label>
    <input type="text" placeholder="Professor:in" i18n-placeholder id="exam-subtitle-input" [(ngModel)]="tempExamConfig.subTitle">
  </div>
  <div class="input-group">
    <label for="exam-subtitle-input" i18n>Raum</label>
    <input type="text" id="exam-room-input" [(ngModel)]="tempExamConfig.room">
  </div>
  <div class="input-group">
    <label for="exam-resources-input" i18n>Zugelassene Hilfsmittel</label>
    <input type="text" placeholder="Hilfsmittel" id="exam-resources-input" [(ngModel)]="tempExamConfig.resources">
  </div>
  <div class="input-group">
    <label for="exam-duration-input" i18n>Bearbeitungszeit</label>
    <input type="time" id="exam-duration-input" [(ngModel)]="tempDuration" [disabled]="timerService.getState() === ExamState.RUNNING">
  </div>
</div>
