<div class="form">
  <div class="input-group">
    <label for="exam-title-input">Titel</label>
    <input type="text" placeholder="Beispielthema" id="exam-title-input" [(ngModel)]="tempExamConfig.title">
  </div>
  <div class="input-group">
    <label for="exam-subtitle-input">Untertitel</label>
    <input type="text" placeholder="Professor:in" id="exam-subtitle-input" [(ngModel)]="tempExamConfig.subTitle">
  </div>
  <div class="input-group">
    <label for="exam-subtitle-input">Raum</label>
    <input type="text" id="exam-room-input" [(ngModel)]="tempExamConfig.room">
  </div>
  <div class="input-group">
    <label for="exam-resources-input">Zugelassene Hilfsmittel</label>
    <input type="text" placeholder="Hilfsmittel" id="exam-resources-input" [(ngModel)]="tempExamConfig.resources">
  </div>
  <div class="input-group">
    <label for="exam-duration-input">Bearbeitungszeit</label>
    <input type="time" id="exam-duration-input" [(ngModel)]="tempDuration" [disabled]="timerService.getState() === ExamState.RUNNING">
  </div>
</div>
