<div class="form">
  <div class="input-group checkbox-input">
    <input type="checkbox" id="display-clock-input" [(ngModel)]="tempDisplayConfig.displayClock">
    <label for="display-clock-input" i18n>Zeige aktuelle Uhrzeit</label>
  </div>
  <div class="input-group checkbox-input">
    <input type="checkbox" id="display-date-input" [(ngModel)]="tempDisplayConfig.displayDate">
    <label for="display-date-input" i18n>Zeige Datum</label>
  </div>
  <div class="input-group checkbox-input">
    <input type="checkbox" id="display-duration-input" [(ngModel)]="tempDisplayConfig.displayDuration">
    <label for="display-duration-input" i18n>Zeige Laufzeit</label>
  </div>
  <div class="input-group checkbox-input">
    <input type="checkbox" id="display-event-log-input" [(ngModel)]="tempDisplayConfig.displayEventLog">
    <label for="display-event-log-input" i18n>Zeige Ereignis-Log</label>
  </div>
  <div class="input-group">
    <label for="toilet-count-input" i18n>Anzahl verfügbarer WCs</label>
    <input type="number" id="toilet-count-input" min="0" step="1" max="10" [(ngModel)]="tempDisplayConfig.toiletCount">
  </div>
</div>
